@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var homeActive = ViewBag.Title == "Home" ? "active" : "";
    var aboutIsActive = ViewBag.Title == "About Us" ? "active" : "";
    var contactIsActive = ViewBag.Title == "Contact Us" ? "active" : "";
    var createIsActive = ViewBag.Title == "Create" ? "active" : "";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Movies" asp-action="Overview">My Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item @homeActive ">
                    <a class="nav-link" asp-controller="Movies" asp-action="Overview">Home</a>
                </li>
                <li class="nav-item @aboutIsActive">
                    <a class="nav-link" asp-controller="Info" asp-action="AboutUs">About Us</a>
                </li>
                <li class="nav-item @contactIsActive">
                    <a class="nav-link" asp-controller="Info" asp-action="ContactUs">Contact Us</a>
                </li>
                <li class="nav-item @createIsActive">
                    <a class="nav-link" asp-controller="Movies" asp-action="Create">Create Movie</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
