@model MyMovies.Services.DtoModels.SideBarData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div style="width:100%; background-color:#343a40; color:white; padding:20px">
    <h2>Top recipes</h2>
    @foreach (var movie in Model.TopMovies)
    {
        <a asp-controller="Recipes" asp-action="Details" asp-route-id="@movie.Id" style="color:white; text-decoration:none">
            <div style="padding:5px; background-color:#a8a8a8;  margin:5px">
                <p>Title: @movie.Title  </p>
                <p>Date created: @movie.DateCreated.ToString("yyyy-MM-dd")</p>
                <p>Views: @movie.Views</p>
            </div>
        </a>
    }

    <h2>Recent recipes</h2>
    @foreach (var movie in Model.RecentMovies)
    {
        <a asp-controller="Recipes" asp-action="Details" asp-route-id="@movie.Id" style="color:white; text-decoration:none">
            <div style="padding:5px; background-color:#a8a8a8;  margin:5px">
                <p>Title: @movie.Title  </p>
                <p>Date created: @movie.DateCreated.ToString("yyyy-MM-dd")</p>
                <p>Views: @movie.Views</p>
            </div>
        </a>
    }
</div>