@model MyMovies.ViewModels.MovieDetailsModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
@section styles{
    <link href="~/css/Details/details.css" rel="stylesheet" />

}


<div class="row">
    <div class="col-md-9">
        <img style="width:50%" src="@Model.ImageUrl" />
        <h1 style="text-align:center">@Model.Title</h1>
        <p style="text-align:center">@Model.Description</p>

        <h2>Genres:</h2>
        <p>@Model.Genre</p>

        <h2>Cast:</h2>
        <p>@Model.Cast</p>

        <h2>Date Created:</h2>
        <p>@Model.DateCreated</p>


        <h1>Comments</h1>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="MovieComments" asp-action="Add" method="post" onsubmit="return ValidateComment()">
                <input id="movieId" name="movieId" value="@Model.Id" hidden />
                <div class="form-group">
                    <label for="comment" class="control-label">Comment</label>
                    <textarea id="comment" name="comment" class="form-control"></textarea>
                </div>
                    <button type="submit"  class="btn btn-primary" >Comment</button>

            </form>

        }

        <div>
            @foreach (var comment in Model.MovieComments)
            {
                <p>@comment.Comment - @comment.Username - @comment.DateCreated</p>
            }
        </div>
    </div>
    <div class="col-md-3">
        <partial name="SidebarPartial" for="SidebarData" />
    </div>
</div>
@section Scripts{
    <script>
        function ValidateComment() {
            var comment = document.getElementById("comment").value;

            if (comment == null || comment == " ") {
                alert("Please enter comment");
                return false;
            }
            else {
                return true;
            }
        }
    </script>
}